

.chapter-overview-card-dev{
    display: flex;
    padding: 1rem;
    border: 1px solid grey;
    backdrop-filter: blur(4px);
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all var(--animation-time-short);
    &:hover{
        transform: scale(1.01);
        border: 1px solid white;
    }
    &:active{
        cursor: default;
        border: 1px solid grey;
    }
}