.gallery {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: max-content;
    height: max-content;
    overflow: visible;
    flex-direction: row;
    gap: 0.4rem;
}

.gallery-card {
    flex: 1;
    position: relative;
    padding: 1rem;
    z-index: 1;
    width: 16rem;
    min-height: 8rem;
    overflow: hidden;
    transition: all var(--animation-time-medium) ease;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);

    & h4 {
        position: relative;
        z-index: 1;
    }
    & hr,
    & p,
    & span {
        font-size: 1.1rem;
        position: relative;
        right: 140%;
        transition: all var(--animation-time-medium) ease;
    }

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        right: 100%;
        bottom: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all var(--animation-time-medium) ease;
    }

    &>img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-position: center;
        z-index: -1;
        object-fit: cover;
    }

    &:hover {
        flex: 2;
        transform: scale(1.01);

        &::before {
            right: 0;
        }
        & hr,
        & p,
        & span {
            right: 0%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .gallery {
        flex-direction: column;
        width: 100%;
    }
    .gallery-card {
        width: 100%;
    }
}