.page-footer {
    position: absolute;
    font-size: 1.2rem;
    bottom: 2rem;
    left: 1rem;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    min-width: calc(100% - 2rem);
    flex-wrap: nowrap;
    text-wrap: nowarp;
    z-index: 1;
}