.progression-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all var(--animation-time-medium) ease;
    letter-spacing: 0rem;

    &:hover {
        & h6 {
            letter-spacing: 0.1rem;
            font-weight: bold;
        }
        transform: scale(1.01);
    }
}