.progress-bar {
    display: flex;
    /* width: 100%; */
    gap: 0.3rem;
    margin: 0.2rem;

}

.progress-bar-box-on {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: aliceblue;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
}
.progress-bar-box-off{
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: rgb(134, 137, 139);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
}