.sub-section-header {
    display: inline-block;
    position: relative;
    width: fit-content;
    font-weight: 600;
    margin: 0.2rem;
    padding: 0.1rem 0.4rem;
    font-size: 1.2rem;
    background-color: black;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
    transition: all var(--animation-time-short);
    &.large {
        font-size: 1.6rem;
    }
    &.medium{
        font-size: 1.2rem;
    }
    &.small{
        font-size: 1.1rem;
    }
    &.black {
        background-color: black;
        color: white;
    }
    &.green {
        background-color: green;
        color: white;
    }
    &.blue {
        background-color: blue;
        color: white;

    }
    &.yellow {
        background-color:orange;
        color: white;
    }
    &.red {
        background-color: red;
        color: white;
    }
    &.white {
        background-color: white;
        color: black;
    }

    &:hover {
        transform: translate(-1px, -1px);
        box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
    }
}