@import "tailwindcss";
@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-synthesis: weight style small-caps;
  }

  :root {
    --animation-time-short: 0.1s;
    --animation-time-medium: 0.3s;
    --animation-time-long: 0.6s;
    --animation-time-prolonged: 0.8s;
    --surface-lowest-colour: rgb(42, 42, 42);
    --surface-low-colour: rgb(69, 69, 69);
    --surface-colour: rgb(97, 97, 97);
    --surface-high-colour: rgb(160, 160, 160);
    --surface-highest-colour: rgb(201, 201, 201);
    --surface-bright-colour: rgb(255, 255, 255);
    background-color: var(--surface-lowest-colour);
    font-size: 16px;
    font-family: var(--basic-font);
    color: white;
    height: 100vh;
  }

  body {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

}