@layer base {
  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  h1.shadowed, h2.shadowed, h3.shadowed, h4.shadowed, h5.shadowed, h6.shadowed{
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
  }
    
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.1rem;
    }

    h3 {
      font-size: 1.9rem;
    }

    h4 {
      font-size: 1.4rem;
    }

    h5 {
      font-size: 1.1rem;
    }

  }
}