@layer base {
  h1 {
    font-size: 4.2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  h6 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  h1.shadowed,
  h2.shadowed,
  h3.shadowed,
  h4.shadowed,
  h5.shadowed,
  h6.shadowed {
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
  }

  h1.letter-spacing-animated,
  h2.letter-spacing-animated,
  h3.letter-spacing-animated,
  h4.letter-spacing-animated,
  h5.letter-spacing-animated,
  h6.letter-spacing-animated {
    animation: letter-spacing-animation var(--animation-time-prolonged) ease;
  }

  @keyframes letter-spacing-animation {
    from {
      letter-spacing: -0.2rem;
    }

    to {
      letter-spacing: initial;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.1rem;
    }

    h3 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    h6 {
      font-size: 1.2rem;
    }

  }
}