@layer base{
  img {
  }
}

@layer components{
  img.shadowed {
    box-shadow: 8px 8px 0 rgba(0,0,0,0.8);
    transition: all var(--animation-time-short) ease;
    &:hover{
        transform: translate(-2px, -2px);
        box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.8);

    }
  }
  .image-header{
    position: relative;
    align-self: center;
    width:  96%;
    height: 12rem;
    margin: 1rem 0rem 1rem 0rem;
    object-fit: cover;

  }
  .image-background{
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: 80%;
    right: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    filter: brightness(80%);
  }
}