@layer base {
  main {
    flex: 1;
    position: relative;
    margin: 2rem;
    padding: 2rem 4rem;
    border: 1px solid white;
    box-shadow: 12px 12px 0px black;
    overflow: hidden;
    user-select: none;
  }
}

@layer components {
  .main-book-cover {}

  .main-table-of-contents {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2rem;
    transition: all var(--animation-time-medium);
  }

  .main-philosophy {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2rem;
    transition: all var(--animation-time-medium) ease;
  }

  .main-pages {
    display: grid;
    width: 100%;
    padding: 2rem 4rem;
    grid-template-rows: 4rem 1fr 2rem;
  }

  @media screen and (max-width: 1024px) {
    .main-book-cover {
      padding: 1rem 1rem;
      margin: 1rem;
    }

    .main-table-of-contents {
      grid-template-columns: 1fr;
      padding: 1rem 1rem;
      margin: 1rem;
    }

    .main-philosophy {
      grid-template-columns: 1fr 0fr;
      padding: 1rem 1rem;
      margin: 1rem;
    }

    .main-pages {
      padding: 4rem 0.4rem;
      margin: 1rem;
    }
  }

  @media screen and (max-height: 480px) {
    .main-pages {
      padding: 2rem 1rem;
    }
  }

}