@layer base {
    /* section {

    } */
}

@layer components {
    .section-book-cover {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: baseline;
        height: 100%;
        gap: 1rem;
        padding: 12rem 2rem 2rem 2rem;
        transition: padding var(--animation-time-medium) ease;
    }

    .section-table-of-contains-intro {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-self: end;
        gap: 1rem;
        padding: 3rem 2rem;
        max-width: max-content;
        max-height: min-content;
        margin: 4rem;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        overflow-y: scroll;
        backdrop-filter: blur(4px);
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);
        scrollbar-width: none;
        & p:first-child {
            text-orientation: sideways;
            writing-mode: sideways-lr;
        }

    }

    .section-table-of-contents {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        min-height:max-content;
        overflow: scroll;
        scrollbar-width: none;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    }

    .section-philosophy {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scrollbar-width: none;
        width: fit-content;
        height: 100%;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.42);
        backdrop-filter: blur(4px);
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);
        & * {
            scrollbar-width: none;
        }
    }

    .section-page-single {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        overflow: scroll;
        scrollbar-width: none;
        transition: all var(--animation-time-medium) ease;
        padding: 1rem;
        --horizontal-mask:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 10%,
                rgba(0, 0, 0, 1) 90%,
                rgba(0, 0, 0, 0) 100%) 0% 0% / 100% 100% repeat-x;
        --vertical-mask:
            linear-gradient(180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 10%,
                rgba(0, 0, 0, 1) 90%,
                rgba(0, 0, 0, 0) 100%) 0% 0% / 100% 100% repeat-x;
        mask: var(--horizontal-mask);
    }

    .section-pages {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 4rem;
        transition: all var(--animation-time-medium) ease;
        --mask: linear-gradient(180deg,
                rgba(0, 0, 0, 1) 10%,
                rgba(0, 0, 0, 1) 90%,
                rgba(0, 0, 0, 0) 100%) 0% 0% / 100% 100% repeat-x;
        mask: var(--mask);
        overflow-y: scroll;
        scrollbar-width: none;

        &>div {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            overflow-y: scroll;
            padding-bottom: 2rem;
            min-height: max-content;
            height: 72vh;
            scrollbar-width: none;
        }
    }

    .section-under-construction {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.42);
        backdrop-filter: blur(4px);
        margin: 1rem;
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);
    }

    @media screen and (max-width: 1024px) {
        .section-table-of-contains-intro {
            display: none;
        }

        .section-pages {
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            overflow-y: scroll;

            &>div {
                overflow-y: hidden;
                height: max-content;

            }

            padding: 0;
        }

        .section-page-single {
            mask: var(--vertical-mask);
        }
    }

    @media screen and (max-height: 480px) {
        .section-table-of-contains-intro {
            display: none;
        }

        .section-book-cover {
            padding: 8rem 2rem 2rem 2rem;
        }

    }
}